.loginDesign{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90svh;
    flex-grow: 1; /* not needed */
    background-color: purple;
}