.catalogue-design {
    --title-color: rgb(207, 139, 13);
    --accent-color: rgb(113, 113, 113);
    --secondary-accent-color: #ebc95b;
    --dark-color: rgb(35, 36, 37);
    --mid-range-color: #6c767f;
    --low-range-color: #d9d9d9;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90svh;
    
    background-color: var(--accent-color);
}

.catalogue-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--dark-color);
    flex-grow: 1;
}

.catalogue-entries {
    /* background-color: var(--mid-range-color); */
    width: 80%;
}

.catalogue-entry {
    background-color: var(--mid-range-color);
}

@media (min-width: 1080px) {
    .catalogue-body {
        max-width: 80vw;
    }
}