.services-design {
    --title-color: rgb(207, 139, 13);
    --accent-color: rgb(113, 113, 113);
    --dark-color: rgb(35, 36, 37);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);

    min-height: 90svh;
    color: white;
}

.services-banner {
    min-height: 30svh;
    width: 100%;

    background-image: url("https://imgur.com/Pn9dmCz.png");
    background-size: cover;

    background-size: 0.5;
    background-position-y: 20%;
}

.services-design h1 {
    color: var(--title-color);
    font-size: 5rem;
    font-family: Dancing Script, cursive;
    margin: 0;
    padding: 0;
}

.services {
    max-width: 80vw;
    width: 100%;
}

.services h2 {
    font-size: 2rem;
    color: var(--title-color);
}

.service {
    width: 100%;
    background-color: var(--dark-color);
    border-radius: 1rem;
    box-shadow: 1rem 1rem 1rem black;
    margin-block: 3rem;
}

.service div {
    padding-bottom: 2rem;
}