.appointmentsDesign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* flex-grow: 1; */

    min-height: 90svh;

    background-color: turquoise;
}

.artist-selector, .service-selector, .date-selector, .time-selector {
    width: 10em;
}