.appointmentsDesign {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* flex-grow: 1; */

    min-height: 90svh;

    background-color: turquoise;
    /* background-color: yellow; */
}

.body-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 40em;
    flex-grow: 1;

    background-color: lightblue;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.appointment-status-selectors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* position: sticky; 
    top: 0; */

    /* background-color: turquoise; */
}

.appointment-status-selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: white;
    border-radius: 0.5em;
    padding-inline: 0.5em;
    margin-inline: 0.5em;
    margin-block: 1em;

    cursor: pointer;
}

.active {
    background-color: lightgray;
}

.new-appointment-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* background-color: lightskyblue; */
    background-color: red;
    border-radius: 1rem;

    font-size: 1.5em;

    width: 2rem;
    height: 2rem;
    line-height: 2rem;
}
/*TODO remove this */
.new-appointment-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    background-color: red;
    border-radius: 50%; /* Make the button round */

    width: 2rem;
    height: 2rem;
}

.new-appointment-button::before,
.new-appointment-button::after {
    content: "";
    position: absolute;
    background-color: white;
}

.new-appointment-button::before {
    width: 10%;
    height: 50%;
    left: 45%; /* Adjust these values as needed */
    top: 25%;
}

.new-appointment-button::after {
    width: 50%;
    height: 10%;
    left: 25%; /* Adjust these values as needed */
    top: 45%;
}
/*TODO until here*/
.new-appointment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 40em;
    /* flex-grow: 1; */
    background-color: lightcoral;
}

.appointment-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-block: 1em;
    padding-inline: 1em;

    background-color: rgb(68, 173, 156);

}

.edit-delete {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    /* padding-block: 1em; */
    /* padding-inline: 1em; */

    background-color: rgb(68, 173, 156);
}

.edit-appointment {
    background-color: lightgreen;
    /* margin-inline: 0.5em; */
    /* padding-inline: 0.5em; */
    width: 2em;
    height: 2em;
    border-radius: 0.5em;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-appointment {
    background-color: lightcoral;
    width: 2em;
    height: 2em;
    border-radius: 0.5em;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 1em;
}

.new-appointment-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 40em;
    /* background-color: lightcoral; */
}

.create-appointment-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.artist-selector, .service-selector, .date-time, .new-appointment-save, .new-appointment-cancel {
    width: 10em;
    margin: 1em;
}

/* .appointments {
    overflow: scroll;
} */
.appointments{
    /* background-color: lightpink; */
    width: 90%;
}

.appointment {
    background-color: lightgray;
    /* background-color: yellow; */
    max-width: 40em;
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-grow: 1; */
}

.appointment-content-catalogue {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 40em;
}

/* .appointment-content-catalogue img {
    display: block;
    width: 100%;
    height: auto;
} */

.appointment-img {
    max-width: 20em;
}

.appointment-img img {
    display: block;
    width: 100%;
    height: auto;
}