/* .navButtonDesign {
    font-weight: bold;
    background-color: lightseagreen;
    padding-inline: 1em;
    padding-block: 0.5em;
}

.navButtonDesign:hover {
    cursor: pointer;
    background-color: lightblue;
} */