.headerDesign {
    background-color: lightseagreen;
    min-height: 10svh;
    flex-grow: 1; /* not needed */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1em;

    position: sticky;
    top: 0;
    z-index: 100;
}

.headerRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.headerLeft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}