.header-design {
    --title-color: rgb(207, 139, 13);
    --accent-color: rgb(113, 113, 113);
    --dark-color: rgb(35, 36, 37);

    background-color: black;
    min-height: 10svh;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1em;

    position: sticky;
    top: 0;
    z-index: 100;

}

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-left,
.header-right {
    color: white;
}

.nav-button-design {
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    padding-inline: 1em;
    padding-block: 0.5em;
    color: white;
}

.nav-button-design + * {
    border-left: 0.1em solid white;
}

.nav-button-design:hover {
    cursor: pointer;
    background-color: rgb(48, 47, 47);
    color: var(--title-color);
}

.active {
    color: var(--title-color);
}

.burger-button {
    display: none;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    color: white;

    cursor: pointer;
}

.burger-menu {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 4em;
    right: 0;

    background-color: white;

    max-width: 15em;
    overflow: hidden;
    transition: max-width 0.5s ease-in-out;
}

.burger-menu li {
    color: black;
    list-style-type: none;
    padding-block: 1em;
    padding-inline: 1em;
    border-bottom: 0.1em solid black;
}

.burger-menu-hidden {

    max-width: 0;
}

@media (max-width: 768px) {
    .hidden-nav,
     .header-right {
        display: none;
    }

    .burger-button {
        display: block;
    }
}